#current-time {
            top: 10px;
            right: 10px;
            font-size: 20px;
            color: black;
            text-align:right;

        }

        .search-container {
            //display: flex;
            //justify-content: column;
           // align-items: left;
            margin-bottom: 20px;
            margin: auto;
            width: 80%;
            padding-bottom:25px;
            padding: 0px
        }

        .search-bar {
            padding: 10px;
            width: 450px;
            border-radius: 5px;
        }

        .search-button {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            width: 100px;
            border-radius: 5px;
            border: 2px solid #4CAF50;
            cursor: pointer;
        }

        .search-button:hover {
            background-color: #45a049;
        }

        .property-list-container {
            margin: auto;
            width: 80%;
            padding-bottom:25px;
            padding: 20px;
            border-radius:15px;
            border: 1px solid #282A35;
        }

        .property-item {
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .search-link {
            display: block;
            margin-top: 20px;
            text-align: center;
            font-size: 16px;
            color: #007bff;
            text-decoration: none;
        }

        .search-link:hover {
            text-decoration: underline;
        }
        .font-style{
            font-family: "Times New Roman", Times, serif;
            font-size: 20px;
        }
        .titlu{
            text-align: center;
            font-size: 24px;
            text-decoration-line: underline;
            white-space: nowrap;
            font-family: "Sofia", sans-serif;
            font-size: 50px;
            text-shadow: 3px 3px 3px #ababab;
            padding-bottom: 25px;

        }
        .row{
            border: none;
        }

        .center{
            margin: auto;
            width: 80%;
        }
        .capitalize{
            text-transform: capitalize;
        }
        .empty-message{
            font-family: "Times New Roman", Times, serif;
            font-size: 20px;
            text-align:center;
        }